#detail-container {
    background-color: #f8f8f8;
}

#form-container {
    background-color: #fff;
}

#btn-custom-revise {
    color: #fff;
    background-color: #573e8c;
    border-color: #573e8c;
}
